$base-font-size: 16px;

$colors: (
  black: #000000,
  white: #ffffff,
  whiteLight: rgba(255, 255, 255, 0.75),
  orange: #ffa501,
  //   dark: #2d3033,
  //   red: #ff4343,
  //   grey: #babbc5,
  //   scarlet: #e71414,
  //   dark-blue: #353c65,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$breakpoints: (
  mobile: 320px,
  tablet: 1140px,
  desktop: 1520px,
);
